@import "node_modules/bootstrap/scss/bootstrap";


// $gardenWhite:  //Navbar and cards
// $gardenGreen:  //App background
// $gardenYellow:  //Headline color
// $gardenBorderGreen:  //Border color for buttons
// $gardenBgGreen:  //Garden foreground 
// $gardenButtonGreen: //button color

$gardenWhite: #f8f9f4;
$gardenGreen: #184d47;
$gardenYellow: #f9faae;
$gardenBorderGreen: #94b685;
$gardenBgGreen: #9ab899;
$gardenButtonGreen: #1a8059;

$theme-colors: (
$primary:       $gardenYellow,
$secondary:     $gray-600,
$success:       $green,
$info:          $cyan,
$warning:       $yellow,
$danger:        $red,
$light:         $gray-100,
$dark:          $gardenGreen,
 
) !default;

.container {
    background-color: $gardenGreen !important;
}

.navbar .navbar-dark {
    background-color: $gardenWhite !important;
}

a:hover {
    text-decoration: none ;
}

.btn:hover {
    text-decoration: none;
}

