@import "node_modules/bootstrap/scss/bootstrap";


// $gardenWhite:  //Navbar and cards
// $gardenGreen:  //App background
// $gardenYellow:  //Headline color
// $gardenBorderGreen:  //Border color for buttons
// $gardenBgGreen:  //Garden foreground 
// $gardenButtonGreen: //button color

$gardenWhite: #f8f9f4;
$gardenGreen: #184d47;
$gardenYellow: #f9faae;
$gardenBorderGreen: #94b685;
$gardenBgGreen: #9ab899;
$gardenButtonGreen: #1a8059;

body {
    background-color: $gardenWhite;
}

.container {
    background-color: $gardenGreen !important;
}

.navbar .navbar-dark {
    background-color: $gardenWhite !important;
}

a:hover {
    text-decoration: none ;
}

.btn:hover {
    text-decoration: none;
}

